/* 중간 섹션 큰틀  */
#qnaWrap{width:1420px; height:1020px; margin:0 auto;}
	.userCheck{float:right; font-size: 12px;}
	.userCheck ul li{float:left;}
	.userCheck ul li a{display:block; padding-right:7px; margin-top:17px;}
	.qnaTitle{width:1420px; height:110px;}
	.qnaTitle h2{font-size:2.3em; white-space:-1em; line-height:110px;}
	#qnaSearch{height:81px; float:right;}
		.bestKeyWord{margin-top:20px; height:40px; position:relative;}
		.bestKeyWord span{background:#ffeff8; color:#e620b3; border-radius:5px; padding:2px 6px; margin-right:20px; line-height:40px;}
		.bestKeyWord span:after{content:''; position:absolute; top:50%; right:6%; margin-top:-7px; border-left:10px solid #ffeff8; border-top:7px solid transparent; border-bottom:7px solid transparent;}
		.keyWord {margin-top:20px; margin-right:30px;}
		.keyWord ul li{line-height:40px; color:#bbbbbb; float:left; }
		.keyWord ul li a{display:block; margin-right:10px; text-decoration:underline;}
		.searchBox{ margin-right:5px; margin-top:20px; border-bottom:2px solid #000000;}
		.searchBox label{display:none;}
		.searchBox button{float:right;}
		.searchBox input {vertical-align:middle; font-size:14px; display:block; float:left; margin-right:2px; border:none; width:260px; line-height:39px; color:#777777;}
		.searchBox button{text-decoration:none;  background-color:transparent; border:none;}
		.searchBox button:hover{cursor:pointer;}
	#qnaMenu{width:1420px; height:55px; background:#f8f8f8;}	
		.qnaList li{width:auto; height:50px; margin:0 23px 0 23px; float:left; padding:2px; color:#aaaaaa; font-weight:bold; line-height:50px;}
		.qnaList li a:hover{display:block; border-bottom:3px solid #e620b3; color:#e620b3;}
		.qnaList .listOn{display:block; border-bottom:3px solid #e620b3; color:#e620b3;}
		.qnaIcon li{width:50px; height:50px; background:#f8f8f8; float:left; color:#999999; font-size:2em; text-align:center; border:1px solid #999999;}
		.qnaIcon .first{color:#dddddd; border:1px solid #dddddd;}
		.qnaIcon{float:right;}

		.qnaBoardTop h2{width:1420px; height:80px; background:#ffffff; border-bottom:2px solid #000000; line-height:100px; font-size:25px;}
		
		
		/* 수정한 부분*/
		.qnaQcontent{width:1420px; height:60px; line-height:60px; font-size:16px; font-weight:bold; border-bottom:1px solid #666666;text-align:left ; margin-right:10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
			.qnaQcontent span{margin-left:30px;}
		.qnaAcontent{width:1420px; line-height:auto; height:auto; }
			.qnaAcontent div{text-align:left; margin-left:40px;}
			.qnaAcontent .subA{font-size:16px; padding:10px 20px; line-height:26px; color:#777777;}
			.qnaAcontent .contentA{padding:10px 20px; background:ffffff; line-height:24px; border-bottom:1px solid #dddddd;}
		
		/* 닫았을때 스타일 */
		.qnaQcontent.closed{cursor:pointer;}
		.qnaAcontent.closed{display:none;}
		
		
	.serviceWrap{width:1420px; height:490px; margin:0 auto;}
		.serviceWrap h2{font-size:29px; white-space:-1em; width:1420px; height:163px; line-height:190px; text-align:center;}
		.serviceSet1{width:460px; height:128px; background:#ffffff; border-radius:15px; float:left; border:1px solid #888888;}
		.serviceSet2{width:460px; height:128px; background:#ffffff; border-radius:15px; float:left; margin:0 12px; border:1px solid #888888;}
		.serviceSet3{width:460px; height:128px; background:#ffffff; border-radius:15px; float:right; border:1px solid #888888;}
		.csBtn {margin-top:12px; font-weight:bold;}
		.csImg{background:#f8f8f8;  width: 80px; height: 80px; border-radius: 50px; margin:23px;}
		.csCt{margin-top:23px;}
		.serviceSet1 .csImg1{text-indent: -9999px; width: 80px; height: 80px; border-radius: 50px; background:url(../../images/cs_icon_1.svg) no-repeat; margin-right:10px;}
		.serviceSet2 .csImg2{text-indent: -9999px; width: 80px; height: 80px; border-radius: 50px; background:url(../../images/cs_icon_2.svg) no-repeat; margin-right:10px;}
		.serviceSet3 .csImg3{text-indent: -9999px; width: 80px; height: 80px; border-radius: 50px; background:url(../../images/cs_icon_3.svg) no-repeat; margin-right:10px;}
		.serviceSet1:hover{background:#f3f3f3;}
        .serviceSet2:hover{background:#f3f3f3;}
        .serviceSet3:hover{background:#f3f3f3;}
		
		
		
		
		
		
		