
/* 중간 섹션 큰틀  */
#section{width:1420px; margin:0 auto;}
#loginWrap{width:1420px; height:1020px; margin:0 auto; /* background:#ededed; */}
	.topcheck{height:120px;}
	.userCheck{float:right; font-size: 12px;}
	.userCheck ul li{float:left;}
	.userCheck ul li a{display:block; padding-right:7px; margin-top:17px;}
	.logTitle{height:120px; text-align:center;}
	.logChoice{width:530px; height:30px; margin:0 auto;}
	.logBox1{width:265px; height:50px; border-bottom:3px solid #111111; float:left;}
	.logBox2{width:265px; height:50px; border-bottom:3px solid #dddddd; float:right;}
	h2{font-size:40px; font-weight:bold;}
	#logMain{width:520px; height:495px; margin:0 auto; margin-bottom:30px; }
		#logMain label.labelText{height:61px; display:block; float:left; clear:both; font-weight:bold; letter-spacing: -1px; line-height:57px; font-size:16px;}
		#userId, #userPWD{width:520px; height:60px; border:1px solid #999999; margin-bottom:5px; border-radius:10px;}		
		#mainLogin {float:left; margin-top:17px;}
		#btnLogin{display:block; background-color:#ff6633; border-radius:5px; border-style:none; color:#ffffff; width:80px; height:50px; float:left; left:10px;}		
		#btn1{width:auto; float:left; clear:both; padding:10px 0px;  margin:9px 0 27px 5px;}
		#btn1 input[type="checkbox"]{margin-top:3px; margin-right:3px; cursor:pointer;}
		#btn1 label{font-size:15px; }
		#btn1 div{margin-right:20px;}
		#btn2{margin-left:60px;}
		#btn2 input{background-color:#666666; border-style:none; border-radius:5px; color:#ffffff; padding:5px 10px;}
		#btnLogin {float:left; clear:both; width:520px; height:60px; border-radius:10px;  background:#eeeeee; color:#999999; font-weight:bold; cursor:pointer;}
		#btnLogin:hover {background:#aaaaaa;  color:#444444;}
		.selectLogin {width:520px; font-weight:bold; text-align:center; margin-top:50px;}
	#moreLog{width:520px; margin:0 auto;}
		#moreLog .more{width:520px; background:#ffffff; font-size:15px; margin:0 auto; text-align:center;}
		#moreLog .bar{width:520px; border-top:1px solid #000000; margin:0 auto;}
		.moreSet .moreImg1 {background:url(../../images/img_pass.png) no-repeat; width:42px; height:42px; background-size:cover; float:left; clear:left;}
		.moreSet .moreImg2 {background:url(../../images/img_naver.png) no-repeat; width:42px; height:42px; background-size:cover; float:left; clear:left;}
		.moreSet .moreImg3 {background:url(../../images/img_kakao.png) no-repeat; width:42px; height:42px; background-size:cover; float:left; clear:left;}
		.moreSet div {width:42px; float:left; clear:left; text-align:center;}
		.moreSet{width:173px; }
		.moreSet a{display:block; padding:34px 0 0 66px;}
		
		.mute{color:#cccccc;}
