/* 중간 섹션 큰틀  */
#section{width:1420px; /* background:#ffffff; */ margin:0 auto;}
	.userCheck{float:right; font-size: 12px; color:#888888;}
	.userCheck ul li{float:left;}
	.userCheck ul li a{display:block; padding-right:7px; margin-top:17px;}
	.boardTitle{width:1420px; height:210px; margin-bottom:16px;}
	.boardTitle h2{font-size:36px; width:200px; height:115px; line-height:150px; }
	.boardTitle .subTitle{height:100px;}
	.boardTitle .subTitle span{color:#888888; font-size:15px; letter-spacing:-1px; font-weight:bold;}
	.boardTitle .subTitle span .textEff{color:#222222; letter-spacing:-1px; font-weight:bold; text-decoration:underline;}
	#boardSearch{width:450px; height:50px; float:right; margin-bottom:7px;}
		#boardSearch {border:none;}
		#boardSearch .searchSelect{width:137px; height:30px; margin-top:10px; border-bottom:2px solid #000000;}
		#boardSearch .searchBox{float:right; width:300px; height:30px; margin-top:10px; border-bottom:2px solid #000000;}	
		#boardSearch label{display:none;}
		#boardSearch select,#boardSearch input {vertical-align:middle; font-size:14px; display:block; float:left; margin-right:2px; border:1px solid #aaaaaa;}
		#boardSearch select{width:137px; height:30px;  background-color:transparent;  border:none;  font-weight:bold; font-size:15px;}
		#boardSearch input{width:250px; height:30px; line-height:30px; border:none; background-color:transparent; font-weight:bold; font-size:15px; color:#777777;}
		#boardSearch option{height:30px; line-height:30px; background:#ffffff;}
		#boardSearch button{text-decoration:none;  background-color:transparent; border:none;}
		#boardSearch button:hover{cursor:pointer;}

	.boardMain{width:1420px}
	#mainBoard{width:1420px;/*  background:#23008c; */}
	#mainBoard .boardHeader {width:1420px; height:40px; border-top:2px solid #666666;}
		.headerTitle01{float:left; width:80px;  height:40px; text-align:center; line-height:40px; font-size:12px;  }
		.headerTitle02{float:left; width:184px; height:40px; text-align:center; line-height:40px; font-size:12px;  }
		.headerTitle03{float:left; width:560px; height:40px; text-align:center; line-height:40px; font-size:12px;  }
		.headerTitle04{float:left; width:192px; height:40px; text-align:center; line-height:40px; font-size:12px;  }
		.headerTitle05{float:left; width:136px; height:40px; text-align:center; line-height:40px; font-size:12px;  }
		.headerTitle06{float:left; width:134px; height:40px; text-align:center; line-height:40px; font-size:12px;  }
		.headerTitle07{float:right; width:120px; height:40px; text-align:center; line-height:40px; font-size:12px; }

	.boardContent{width:1420px; height:57px; border-bottom:1px solid #333333; margin:0 auto;}
		.contentBox01{color:#888888; float:left; width:80px;  line-height:57px; text-align:center; }
		.contentBox02{color:#888888; float:left; width:184px; line-height:57px; text-align:center; }
		.contentBox03{float:left; width:560px; line-height:57px; }
		.contentBox03 a{margin-left:15px; color:#888888;}
		.contentBox04{color:#888888; float:left; width:192px; line-height:57px; text-align:center; font-size:13px;}
		.contentBox05{float:left; width:136px; line-height:57px; text-align:center; }
		.contentBox05 a{color:#888888;}
		.contentBox06{color:#888888; float:left; width:135px; line-height:57px; text-align:center; }
		.contentBox07{color:#888888; float:right; width:120px; line-height:57px; text-align:center; }
		span.newImg{padding:3px 6px; color:#ffffff; text-align:center; border-radius:15px; background:#e6007e;}
	
	.boardPage{width:1420px; height:160px; margin:0 auto;}
		.boardPage ul{width:306px; margin:0 auto; margin-top:60px;}
		.boardPage ul li{float:left; margin:0 7px; text-align:center;}
		.boardPage ul li a{display:block; width:20px;}
		.boardPage .nowPage{font-weight:bold; background:#eeeeee;}
	.boardButton{width:1420px; height:255px; margin:0 auto; text-align:center;}
		.writeBtn {float:right; font-size:14px; color:#ffffff; font-weight:bold; padding:10px 20px; border-radius:27px; background:#e6007e; text-align:center;}
		.writeBtn:hover{background:#730024;}
