<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OX 퀴즈 애플리케이션: CRUD</title>
</head>
<body>
    <h1>OX 퀴즈 애플리케이션: CRUD</h1>
    <h3 th:text="${title}">제목</h3>    <!--등록 서식이라고 뜰 곳-->
    <!-- /* 등록/변경 완료 메시지*/ -->
    <p th:if="${complete}" th:text="${complete}" style="color:blue"></p>

    <form method="POST" th:action="${testForm.newTest}? @{/test/insert} : @{/test/update}" th:object="${testForm}">
        <label>퀴즈 내용: </label><br>
        <textarea rows="5" cols="50" th:field="*{question}"></textarea>
        <br>
        <div th:if="${#fields.hasErrors('question')}" th:errors="*{question}" style="color:red"></div> <!--NotBlank 를 이용해 사용가능-->
        <label>퀴즈 정답: </label><br>
        <input type="radio" value="1" th:field="*{answer}">
        <textarea rows="3" cols="10" th:field="*{optiona}"></textarea>
        <input type="radio" value="2" th:field="*{answer}">
        <textarea rows="3" cols="10" th:field="*{optionb}"></textarea>
        <input type="radio" value="3" th:field="*{answer}">
        <textarea rows="3" cols="10" th:field="*{optionc}"></textarea>
        <input type="radio" value="4" th:field="*{answer}">
        <textarea rows="3" cols="10" th:field="*{optiond}"></textarea>
        <br>
        <div th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}" style="color:red"></div>
        <label>작성자: </label><br>
        <input type="text" th:field="*{author}" />
        <br>
        <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color:red"></div>
        <input th:if="${id}" type="hidden" th:field="*{id}"> <!--hidden 눈에는 보이지 않지만 실제는 내용 들어감-->
        <input type="submit" value="저장">
    </form>
    <br>
    <!--여기까지가 상단 영역 부분-->

    <hr> <!--신규등록인 경우만 보임-->
    <div th:if="${testForm.newTest}" style="margin: 10px">
        <h3>등록된 퀴즈 목록 <a th:href="@{/test/play}" style="border-radius:10px; background:violet; padding:1px 10px; color:white; text-decoration:none">플레이</a><br></h3>
        <!--삭제 완료 메시지-->
        <p th:if="${delcomplete}" th:text="${delcomplete}" style="color:blue"></p>
        <p th:if="${msg}" th:text="${msg}" style="color:red"></p>
        <!--퀴즈 정보가 있으면 보임-->
        <table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;">
            <tr>
                <th style="margin:5px;">ID</th>
                <th style="margin:5px;">내용</th>
                <th style="margin:5px;">해답</th>
                <th style="margin:5px;">옵션1</th>
                <th style="margin:5px;">옵션2</th>
                <th style="margin:5px;">옵션3</th>
                <th style="margin:5px;">옵션4</th>
                <th style="margin:5px;">작성자</th>
                <th style="margin:5px;">변경</th>
                <th style="margin:5px;">삭제</th>
            </tr>
            <tr th:each="obj : ${list}" align="center">
                <td  style="padding:5px;" th:text="${obj.id}"></td>
                <td  style="padding:5px;" th:text="${obj.question}" align="left"></td>
                <td  style="padding:5px;" th:text="${obj.answer}"></td>
                <td  style="padding:5px;" th:text="${obj.optiona}"></td>
                <td  style="padding:5px;" th:text="${obj.optionb}"></td>
                <td  style="padding:5px;" th:text="${obj.optionc}"></td>
                <td  style="padding:5px;" th:text="${obj.optiond}"></td>
                <td  style="padding:5px;" th:text="${obj.author}"></td>
                <!-- /* 변경 버튼*/ -->
                <td>
                    <form method="GET" th:action="@{/test/{id}(id=${obj.id})}"> <!--(id=${obj.id})에 내용을 담아서 전달-->
                        <input type="submit" value="변경">
                    </form>
                </td>
                <!-- /* 삭제 버튼*/ -->
                <td>
                    <form method="POST" th:action="@{/test/delete}">
                        <input type="hidden" name="id" th:value="${obj.id}">
                        <input type="submit" value="삭제">
                    </form>
                </td>
            </tr>
        </table>
        <!--퀴즈 정보가 있으면 보임-->
        <!--퀴즈 정보가 없으면 보임-->
        <p th:if="${#lists.isEmpty(list)}">등록된 퀴즈가 없습니다.</p>
    </div> <!--신규등록인 경우만 보임-->

    <!--신규등록이 아닌경우 되돌아가게 하기-->
    <p th:unless="${testForm.newTest}">
        <a href="#" th:href="@{/test}">CRUD 화면에 돌아가기</a>
    </p>
</body>
</html>