<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OX 퀴즈 애플리케이션 : PLAY</title>
</head>
<body>
<h1>OX 퀴즈 애플리케이션 : PLAY</h1>
<h3>퀴즈</h3>
<th:block th:if="${msg}">
  <p th:text="${msg}" style="color:red"></p>
  <a th:href="@{/test/}">CRUD 화면에 돌아가기</a>
</th:block>
<th:block th:unless="${msg}">
  <p th:text="${testForm.question}">퀴즈 내용</p>
  <form th:action="@{/test/check}" th:object="${testForm}" method="POST">
    <input type="hidden" th:field="*{id}">
    <button name="answer" value="1" th:text="${testForm.optiona}">정</button>
    <button name="answer" value="2" th:text="${testForm.optionb}">답</button>
    <button name="answer" value="3" th:text="${testForm.optionc}">은</button>
    <button name="answer" value="4" th:text="${testForm.optiond}">??</button>
  </form>
</th:block>
</body>
</html>