html{overflow-y: scroll;}
*{margin: 0; padding: 0;}

body{font-family:'nskr',-apple-system,'droid sans fallback','Apple SD Gothic Neo','AppleGothic','Noto Sans Light', 'Noto Sans Regular', 'Noto Sans Medium', 'Noto Sans Bold', 'Noto Sans Black','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; }
ul, ol, dl, li{list-style: none;}
img{border: 0;}
a{text-decoration: none; color: #333333;}
a:link{text-decoration:none;}
a:visited{text-decoration: none; color: #333333;}
.fl{float: left;}
.fr{float: right;}
.cb{clear: both;}
.cf:after{clear: both; content: ''; display: block;}
.hidden{font-size: 0; width: 0; height: 0; position: absolute; left: -100%; display: none; text-indent: -55555px; opacity: 0; visibility: hidden;}
.mute{color:#bbbbbb;}


h1{display:none; }

.balloon{background:#efefef; color:#e6007e; padding:5px; font-size:16px; position:absolute; border:2px solid #e6007e; border-radius: 10px; display:none; line-height:16px;}
.balloon:before{content:""; background-image:url(/images/lgfavicon.png); background-repeat:no-repeat; background-size:100%; width:20px; height:20px; margin-right:5px; display:inline-block; vertical-align:middle;}

/* 상단 큰틀 */
header{height:113px; background-color:#ffffff; position:relative; }
#header{border-bottom:2px solid #dddddd; }
#topSet{width:100%; height:56px; border-bottom:1px solid #eeeeee;}
.topSet{width:1420px; margin:0 auto; }
	.lgLogo{margin:20px 0 0 0px; background:url(/images/a_img_sprites_common.png) no-repeat; width:82px; height:24px; background-position:0px 0px; background-size:1200%;}
	.gnbMenu{float:right; width: 213px; height: 30px; padding: 2px;font-size: 12px; border-radius: 20px; background-color:#eeeeee; margin: 12px 0 0 0; }
		.gnbMenu li a{display:block; text-decoration:none; color:#333333;  text-align:center;}
		.gnbMenu a{line-height:24px; background:#eeeeee; height:24px; border:2px solid #eeeeee; border-radius:16px; margin-top:1px;}
		.gnbMenu .gnbUse1 a{width:60px; float:left;}
		.gnbMenu .gnbUse2 a{width:60px; float:left; margin-left:10px;}
		.gnbMenu .gnbUse3 a{width:66px; float:right;}
		.gnbMenu .gnbOn a{background:#ffffff; color:#333333; border:2px solid #ffffff; box-shadow: 1px 1px 2px #aaaaaa;}



	/* 상단 메뉴바 */
#bottomSet{width:1420px; height:55px; margin:0 auto;}
.lnbMenuWrap{float:left;}
	#nav ul li a{display:block;}
	#nav > li{float: left; margin: 0px 5px 0px 0; padding: 0px 20px 0px 0; }
	#nav > li > a{display: block; text-decoration: none; font-size: 16px; font-weight: bold; color:#222222; letter-spacing: -1px; padding:16px 10px 19px 0px;}
	#nav > li > a:hover{color: #e6007e; border-bottom:3px solid #e6007e; padding-bottom:15px;}
	#nav .onIcon{z-index:2; background: url(/images/onreddot.png) no-repeat 100% 30%;}

	/* 2depth start */
#nav .menuWrap{position: absolute; top: 113px; left: 0; width: 100%; display: none; color: #333333; padding: 0; background: #ffffff; overflow: hidden; z-index:15;}
	#nav li:hover .menuWrap{display: block; border-top:1px solid #dddddd; box-shadow:0 2px 5px #dddddd;}
	#nav li .menuInner{width: 1420px; margin: 0 auto;  z-index:15;}
	#nav .menuList{border-bottom:1px solid #333333; width:1420px;}
	#nav .subTitle {display: block; width:177px; font-size:15px; color:#000000; float:left; font-weight:bold; clear:left;}
	#nav .menuContent {font-size:13px; color:#000000; float:left; clear:left;}
	#nav .menuContent li{line-height:30px; text-align:left;}
	#nav .menuContent li a:before{content:'- '; color:#777777;}
	#nav .menuContent li a{font-weight:bold; color:#777777;}
	#nav .menuList li a:hover{text-decoration:underline;}
	#nav .menuList > li{float:left; margin-top:19px; margin-bottom:25px;}

	#nav .menuListBottom{font-size:17px; float:left; clear:left; font-weight:bold;}
	#nav .menuListBottom > li{float:left; width:170px; margin:10px 0 10px 0;}
	.menuSubIcon{float:left;}
	.menuSubText{float:left; margin-left: 10px; height:36px; line-height:34px;}
	.BottomIcon36 .menuSubIcon{height:36px; width:36px;}
	.BottomIcon36 img{margin-top:3px; margin-left:3px;}
	#nav .menuTitle4 .menuListBottom > li{width:190px; letter-spacing:-1px;}
	#nav .menuTitle6 .menuList {border-bottom:none;}

		#lnbIconMenu{width:310px; height:35px; float:right; margin-top:8px;}
		#lnbIconMenu ul li{float:left; margin:0 10px;}
		#lnbIconMenu .loginMenu{height:0; border-radius: 0 0 10px 10px; background:#ffffff; overflow:hidden; box-shadow:0px 3px 5px #bbbbbb;}
		#lnbIconMenu .loginMenu li > a{display:block; padding:10px 0 10px 5px;}
		#lnbIconMenu .loginIcon{width:50px;}
		#lnbIconMenu .loginIcon:hover .loginMenu{margin-top:5px; height:350px; display:block;}
		#lnbIconMenu .loginMenu ul li{float:left; clear:left; }
		#lnbIconMenu .loginBorder{width:290px; border-top:1px solid #888888; border-bottom:1px solid #888888; }
		.loginBtn input{display:none;}
		.buttons > label span{display: block; float:left; width:110px; height:40px; line-height:40px; text-align:center; border-radius:20px; font-weight:bold;}
		.buttons > label span:hover{cursor:pointer;}
		.buttons > label .label1{background:#e6007e; color:#ffffff; margin:20px; margin-right:10px;}
		.buttons > label .label1 a{color:#ffffff;}
		.buttons > label .label1:hover{background:#730024;}
		.buttons > label .label2{background:#ffffff; color:#999999; margin:20px; margin-left:10px; border:1px solid #999999;}

/* 하단 큰틀 */
footer{width:100%; height:360px; background:#2d2926;}
#footer{width:1420px; height:360px; margin:0 auto;}
	#footer ul li{float:left;}
	#footer .footLeft{float:left; margin-top:82px;}
		#footer .footLeft .footerCl{margin-bottom:29px;}
		#footer .footLeft .footerCl a{display:block; text-decoration:none; color:#ffffff; font-size:14px; letter-spacing:-1px;}
		#footer .footLeft .footerCl a:after{content:'|'; color:#ffffff; margin:0 12px 0 12px; }
		#footer .footLeft .footerCl .last:after{content:'';}
		#footer .footLeft .footerCl .userBold:after{content:'|'; font-weight:normal;}
		#footer .footLeft .footerCl .userBold{font-weight:bold; color:#e6007e;}

		.lgAddress, .lgCopy, .lgNumber {color:#aaaaaa; margin-bottom:5px; font-size:10px;}
		#footer .lgNumber li:after{content:'|'; color:#aaaaaa; margin:0 5px 0 5px;}
		#footer .lgNumber .last:after{content:''; }
		#footer .footerMark {margin-top:30px;}
		#footer .footerMark ul li a{height:40px; margin-top:15px; font-size:1em; color:#aaaaaa;}
		#footer .footerMarkText{line-height:40px;}
		#footer .footerMark ul li{margin-right:20px;}
		#footer .footerMark div{margin-right:10px; font-size:11px;}

	#footer .footRight{float:right; margin-top:82px;}
		#footer .footRight a{color:#ffffff; font-size:15px; padding:5px 18px; margin-left:7px; border-radius:19px; border:1px solid #ffffff;}
		#footer .footRight .footerMap div {float:left;}
		#footer .footRight > div{float:right; margin-bottom:30px;}
		#footer .footerSelect {float:right; -moz-appearance: none; -webkit-appearance: none;  appearance: none;}
		#footer .footerSelect #goPage{width:252px; color:#ffffff; font-size:15px; border:none; border-bottom:1px solid #ffffff; background-color:transparent; text-align:left; padding:2px;}
		#footer .footerSelect #goPage option{background:#ffffff; color:#000000;}
		#footer .footerSelect select:hover{background:#0000ff; color:#ffffff;}

		#footer .footerSNS li{display:block; overflow:hidden; width:32px; height:32px; float:left; text-indent:-55555px; margin-left:5px;}
		#footer .footerSNS .snsImg1{background: url(/images/footer-sns-facebook.png) no-repeat; background-size:cover;}
        #footer .footerSNS .snsImg2{background: url(/images/footer-sns-youtube.png) no-repeat; background-size:cover;}
        #footer .footerSNS .snsImg3{background: url(/images/footer-sns-twitter.png) no-repeat; background-size:cover;}
        #footer .footerSNS .snsImg4{background: url(/images/footer-sns-naverblog.png) no-repeat; background-size:cover;}
        #footer .footerSNS .snsImg5{background: url(/images/footer-sns-instagram.png) no-repeat; background-size:cover;}
        #footer .footerSNS .snsImg6{background: url(/images/footer-sns-kakao.png) no-repeat; background-size:cover;}
        #footer .footerSNS .snsImg7{background: url(/images/footer-sns-lgblog.png) no-repeat; background-size:cover;}

