/* 중간 섹션 큰틀  */
#section{width:1420px; margin:0 auto; height:700px; margin:0 auto;}
	#section>h3{width:1200px; height:100px; line-height:100px; text-align:center; font-size:30px; margin:0 auto;}
	.playQu{width:700px; margin:0 auto; border-radius:10px; border:2px solid #dddddd; padding:50px; font-size:18px;}
	.playQu{}
	.playAn {width:800px; margin:10px auto; font-size:20px;}
	.playAn button{padding:6px 15px; background:#fdfdff; border:2px solid #dddddd; border-radius:10px; margin-right:10px;}
	.playAn button:hover{background:#ffffff; color:#ff4cd2; border:2px solid #ff4cd2;}
	
	.admin{font-size:12px; float:right; padding:5px 10px; background:#efefef; border:1px solid #dddddd; margin:10px; border-radius:10px}
	.admin:hover{background:#ffffff; color:#ff4cd2; border:1px solid #ff4cd2;}