/* 중간 섹션 큰틀  */
#section{width:1420px; margin:0 auto; height:900px;}

.quesContent{width:700px; float:left;}
	.quesContent h3{width:700px; text-align:center; font-size:18px; margin:20px;}
	.quesContent input{}

.quesList{width:700px; float:right;}
	.quesList h3{width:700px; text-align:center; font-size:18px; margin:20px;}
	.quesList .playBtn{float:right; background:#333333; border-radius:10px; padding: 5px 10px; color:#ffffff;}
	.quesList .playBtn:hover{background:#ff4cd2; color:#ffffff;}