/* 중간 섹션 큰틀  */
#section{width:1420px; margin:0 auto; margin:0 auto;}
	#section>h3{width:1200px; height:200px; line-height:200px; text-align:center; font-size:30px; margin:0 auto; overflow:hidden;;}
	#section>h3 img{height:100px; vertical-align:middle}
	#section>h2{margin-bottom:20px;}
	.answers{width:600px; height:auto; border-radius:10px; padding:20px; font-size:16px; border:2px solid #ff4cd2; margin:0 auto;}
    .replay{width:100px; height:100px; margin:0 auto; line-height:100px;}
    .replay a{padding:6px 15px; background:#fdfdff; border:2px solid #dddddd; border-radius:10px; margin-right:10px;}
    .replay a:hover{background:#ffffff; color:#ff4cd2; border:2px solid #ff4cd2;}
	.admin{font-size:12px; float:right; padding:5px 10px; background:#efefef; border:1px solid #dddddd; margin:10px; border-radius:10px; margin-bottom:50px;}
	.admin:hover{background:#ffffff; color:#ff4cd2; border:1px solid #ff4cd2;}